
PORT="5000"
DB_URL=your_mongodb_connection_string

NODE_ENV="development"

# jwt 

JWT_ACCESS_SECRET=your_jwt_secret
JWT_ACCESS_EXPIRES='1d'
JWT_REFRESH_SECRET=your_jwt_refresh_secret
JWT_REFRESH_EXPIRES='30d'

# bcryptjs

BCRYPT_SALT_ROUND='10'



#  admin details
ADMIN_EMAIL=your_admin_email
ADMIN_PASSWORD=your_password
ADMIN_NAME=your_name


# google auth
GOOGLE_CLIENT_SECRET=google_client_secret
GOOGLE_CLIENT_ID=google_client_id
GOOGLE_CALLBACK_URL=google_callback_url

# express session
EXPRESS_SESSION=your_express_session_secret

# frontend url
FRONTEND_URL=your_frontend_url


# email
SMTP_USER=smtp_user_email
SMTP_PASS=password
SMTP_HOST=host
SMTP_PORT='465'
SMTP_FROM=smtp_from_email


# Cloudinary
CLOUDINARY_CLOUD_NAME=YOUR_CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY=YOUR_CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET=YOUR_CLOUDINARY_API_SECRET